#bigsearch
  %form#searchform{ :method => :post, :action => '/search' }
    %label{ :for => :location } Where are the records near
    %input#location{ :type => :text, :name => :location, :value => @address || '02139' }
    ?
    %input{ :type => :submit, :value => 'search' }
    

  %img.yelp{ :src => 'http://media1.px.yelpcdn.com/static/201012161914090300/i/developers/Powered_By_Yelp_White.png' }


#message

%script{ :type => 'text/javascript', :src => '/geolocation.js' }