!!!
%html
  %head
    %title where are the records?
    %link{ :href => '/styles.css', :rel => :stylesheet, :type => 'text/css' }
    %meta{ :name => :viewport, :content => 'initial-scale=0.7' }
  %body
  
    #container
    
      #main
        = yield
        
      .push
      
    #footer
      #inner_footer
        A
        %a{ :href => "http://jklabs.net" } jklabs
        production.
