!!!
%html
  %head
    %title where are the records?
    %link{ :href => '/styles.css', :rel => :stylesheet, :type => 'text/css' }
    %meta{ :name => :viewport, :content => 'initial-scale=0.7' }
    %meta{ :name => 'apple-mobile-web-app-capable', :content => :yes }
    %meta{ :name => 'apple-mobile-web-app-status-bar-style', :content => :black }
    %link{ :rel => 'apple-touch-startup-image', :href => '/iphone-splash.jpg' }
    %link{ :rel => 'apple-touch-icon', :href => '/iphone-icon.jpg' }
    = yield_content :head
    :plain
      <script type="text/javascript" src="http://use.typekit.com/pei1maf.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
  
    #container
    
      #header
    
      #main
        = yield
        
      .push
      
    #footer
      #inner_footer
        A
        %a{ :href => "http://jklabs.net" } jklabs
        production.
