%h2 
  Record stores near #{@address} 
  %img.yelp{ :src => 'http://media1.px.yelpcdn.com/static/201012161914090300/i/developers/Powered_By_Yelp_White.png' }

- if @stores.nil? || @stores.empty?
  .no_results
    Sorry, no records stores found

- else
  %ul#stores
    - @stores.each do |store|
      %li.store
      
        - if store.image_url
          %img.store{ :src => store.image_url }
        
        .details
          %a.name{ :href => map_url(store) }= store.name
          %ul.address
            - store.location.display_address.each do |address_line|
              %li= address_line

          - if store.display_phone
            .phone= store.display_phone.sub '+',''

          .ratings
            %a{ :href => store.url }
              %img.rating{ :src => store.rating_img_url_small, :alt => 'yelp rating', :style => 'border:0' }
        
            %a.rating_link{ :href => store.url } read reviews