* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -33px;
}

#footer, .push {
  height: 33px;  
}

#footer {
  font-size: 8pt;
  color: #ccc;
}

#footer {
  background: #333;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#inner_footer {
  padding: 10px;
}



body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  color: #333;
}

a {
  color: #395473;
}

a:visited {
  color: #999;
}


#main {
  padding: 30px 50px;
}

h2 img {
  margin-left: 5px;
  position: relative;
  top: 3px;
}

ul#stores {
  margin-top: 20px;
}

li.store {
  width: 400px;
  padding-top: 20px;
  background: #fff;
  border-top: 1px dotted #ddd;
}

li.store:last-child {
  padding-bottom: 20px;
  border-bottom: 1px dotted #ddd;
}

img.store {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 100px;
}

li { 
  list-style: none;
}

.name {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  margin-bottom: 5px;
}

.address, .phone {
  margin-bottom: 5px;
}

li.store {
  clear: both;
  margin-bottom: 20px;
  line-height: 1.3em;
}

.ratings * {
  vertical-align: middle;
}

#smallsearch {
  font-size: 1.8em;
}

#bigsearch {
  font-size: 2em;
  padding-top: 60px;
  width: 100%;
  text-align: center;
}


#bigsearch input {
  vertical-align: middle;
}

input[type=text] {
  color: #666;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding: 4px 8px;
  border: 1px solid #aaa;
}

#bigsearch input[type=text] {
  font-size: 0.7em;;
}

#bigsearch .yelp {
  margin-top: 20px;
}

.no_results {
  margin-top: 30px;
  font-size: 12pt;
  color: #999
}